<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>ООО ПиК | Инженерная компания полного цикла</title>
	<meta name="author" content="Alvaro Trigo Lopez" />
	<meta name="description" content="fullPage plugin by Alvaro Trigo. Pure javascript version of full screen slider." />
	<meta name="keywords"  content="fullpage,jquery,alvaro,trigo,plugin,fullscren,screen,full,iphone5,apple,pure,javascript,slider,hijacking" />
	<meta name="Resource-type" content="Document" />


	<link rel="stylesheet" type="text/css" href="javascript.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="slick.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

</head>
<body>

<!--контейнер пунктов меню-->
<header class="header-nav-container menu-white">  
	<nav class="menu">
		<ul>
			<li><a class="menu-link" href="about.html">О компании</a></li>
			<li><a class="menu-link" href="#">Проекты</a></li>
			<li><a class="menu-link" href="services.html">Услуги</a></li>
			<li><a class="menu-link" href="#">Блог</a></li>
			<li><a class="menu-link" href="#">Контакты</a></li>
		</ul>
	</nav>


<!--Контакты-->
<div id="main-contacts-container"> 
	<div id="main-contacts">
		<span class="main-contacts-tel">+7(4212) 25-25-12</span>
		<span class="main-contacts-order"><a href="#">Заказать звонок</a></span>
	</div>
</div>
</header>

<!--Линии навигация-->
<div class="lines-nav">
	<div class="hline line-1"></div>
	<div class="vline line-3"></div>
</div>

<!--Правая панель-->
<aside id="right-panel">
	<!-- бургер -->
	<div id="menu-burger" style="opacity: 1; transform: translate(0px, 0px);"><a href="#">
		<img id="menu-burger-icon" alt="menu" src="icons/main_black-block_menu-burger.png"></a>
	</div>

	<!-- номер слайда -->
	<div class="slider-dots">
		<button role="button" class="slide-dot active">
			<!--https://aarhus.qodeinteractive.com/ разобраться позже-->
			<span class="slider-number slider-number-first">01</span>
		</button>
		<button role="button" class="slide-dot">
			<span class="slider-number slider-number-last">02</span>
		</button>
	</div>

	<!--стрелка вниз-->
	<div id="arrow-black"><a href="#">
		<img style="width: 1.9791vw; height: auto;" src="icons/main_black-block_scroll.png"></a>
	</div>
</aside>

<div id="fullpage">
	<div class="section "id="section0"> <!--Home-->
		<div id="content">
			<div class="main-first-section-logo"> 
				<img class="main-pik-black-logo" src="img/main_black-block_black-logo.png">
			</div>
		</div>

		<!--Заголовок и подзаголовок-->
		<div class="block-title">
			<div id="text-line-1">
			<h1>Комплексная разработка инженерных систем</h1>
			</div>
			<div id="text-line-2">
			<h5>ООО «СК ПИК» — комплексная сервисная компания,
			предоставляющая полный спектр услуг на всех этапах
			создания инженерных систем в зданиях и сооружениях.</h5>
			</div>
		</div>

		<div class="first-np-image-container">
			<a href="#">
				<div class="first-np-image-rect">
					<img class="first-np-image-icon" src="img/main-first-block-np-logo.png" alt="">
				</div>
			</a>
			<a href="#">
			<div id="green-rect">
				<img src="img/link-green-space.png" alt="">
			</div>
			</a>
			<div id="first-np-description">
				<span class="first-np-title">ООО «Новый Проект»</span>
				<span class="first-np-descriptor">Генеральный партнер</span>
			</div>
			<div>

			</div>
		</div>

		<!--нижняя часть страницы-->
		<div class="first-bottom"> 
			<div class="social-media">
				<ul>
					<li id="mail"><a href="#"><img alt="mail" src="icons/main_first-block_social-mail.png"></a></li>
					<li id="facebook"><a href="#"><img alt="facebook" src="icons/main_first-block_social-facebook.png"></a></li>
					<li id="instagram"><a href="#"><img alt="instagram" src="icons/main_first-block_social-instagram.png"></a></li>
				</ul>
			</div>
		</div>
		<div id="first-facts-rect">
			<div id="first-facts-one">
				<span class="np-title">1,5 млрд ₽</span>
				<span class="np-description" style="width: 5vw;">сэкономили в 2019 году</span>
			</div>
			<div id="first-facts-two">
				<span class="np-title">с 2018 года</span>
				<span class="np-description" style="width: 5vw;">лидеры в отрасли</span>
			</div>
			<div id="first-facts-three">
				<span class="np-title">726</span>
				<span class="np-description" style="width: 5vw;">выполненных проектов</span>
			</div>
		</div>
				
		<!--Линии-->
		<div class="lines">
				<div class="vline line-2"></div>
				<div class="line-4"></div>
		</div>

	</div>
	<div class="section _white" id="section1"> <!--Unity-->
		<div id="image-block">
			<div class="second-block-title">
				<div id="second-text-line-1">
					<h1>Объединяем усилия <br>во благо заказчиков</h1>
				</div>
				<div id="second-text-line-2">
					<h5>В 2019 году «СК ПИК» объединилась с проектной
						компанией «Новый Проект», став единым подрядчиком<br>
						выполняющим полный цикл услуг<br>
						для строительства и реконструкции зданий.</h5>
				</div>
			</div>
		</div>
		<div id="content">
			<div class="main-energo-section-logo-2"> 
				<img class="main-white-logo" src="img/main_white-logo.png">
			</div>
		</div>
		<div class="column">
			<div class="left-column">
				<div><img id="icon" src="icons/icon-1.png" alt="icon"></div>
				<div class="services">
					Полный цикл услуг<br>
					проектирования
				</div>
				<div class="description">
					От обследования территории до<br>
					полноценной сдачи объекта<br>
					с авторским надзором. <br>
					Мы делаем качественно от и до.
				</div>
			</div>
			<div class="right-column">
				<img id="icon" src="icons/icon-2.png" alt="icon">
				<div class="services">
					Официальный<br>
					дилер оборудования
				</div>
				<div class="description">
					Пакет документов для получения <br>
					положительного заключения <br>
					государственной экспертизы
				</div>
			</div>
		</div>
		<div class="line-4">
		</div>
		<div id="info-block">
			<div id="info-block-container">
				<a href="#"><span class="text-1">
					ООО «Новый Проект»
				</span>
				</a>
				<span class="text-2">
					Генеральный партнер
				</span>
			</div>

			<a href="#">
				<div id="second-np">
					<div id="second-np-background">
						<img id="second-np-logo" src="img/main-second-block-np-logo.png" alt="">
					</div>
					<div id="green-item">
						<img src="img/link-green-space.png" alt="">
					</div>
				</div>
			</a>
						
		</div>
		<div id="first-facts-rect">
			<div id="first-facts-one">
				<span class="np-title">1,5 млрд ₽</span>
				<span class="np-description" style="width: 5vw;">сэкономили в 2019 году</span>
			</div>
			<div id="first-facts-two">
				<span class="np-title">с 2018 года</span>
				<span class="np-description" style="width: 5vw;">лидеры в отрасли</span>
			</div>
			<div id="first-facts-three">
				<span class="np-title">726</span>
				<span class="np-description" style="width: 5vw;">выполненных проектов</span>
			</div>
		</div>
	</div>
	<div class="section" id="section2"> <!--Services-->
		<div class="main-energo-section-logo"> 
			<img class="main-black-logo" src="img/main_black-logo.png">
		</div>
		<div class="service-blocks">
			<div class="card" id="conditioning-block">
				<figure class="block">
					<figcaption>
						<div id="conditioning-block-number">
							01		
						</div>
						<div id="conditioning-block-text">
							Кондиционирование
							<div class="card--inner">
								<a href="#">
								<button class="inner-button"> 
									<div class="button-text">Подробнее</div>
									<img src="icons/arrow-right-white.png" alt="">
								</button>
								</a>
							</div>
						</div>
					</figcaption>
					<a href="#"></a>
				</figure>
			</div>
			<div class="card" id="heating-block">
				<figure class="block">
					<figcaption>
						<div id="heating-block-number">
							02
						</div>
						<div id="heating-block-text">
							Отопление
							<div class="card--inner">
								<a href="#">
									<button class="inner-button"> 
										<div class="button-text">Подробнее</div>
										<img src="icons/arrow-right-white.png" alt="">
									</button>
									</a>
							</div>
						</div>
					</figcaption>
					<a href="#"></a>
				</figure>
			</div>
			<div class="card" id="ventilation-block">
				<figure class="block">
					<figcaption>
						<div id="ventilation-block-number">
							03
						</div>
						<div id="ventilation-block-text">
							Вентиляция
							<div class="card--inner">
								<a href="#">
									<button class="inner-button"> 
										<div class="button-text">Подробнее</div>
										<img src="icons/arrow-right-white.png" alt="">
									</button>
									</a>
							</div>
						</div>
					</figcaption>
					<a href="#"></a>
				</figure>
			</div>
			<div class="card" id="inner-water-supply-block">
				<figure class="block">
					<figcaption>
						<div id="inner-water-supply-block-number">
							04
						</div>
						<div id="inner-water-supply-block-text">
							Внутреннее <br> водоснабжение
							<div class="card--inner">
								<a href="#">
									<button class="inner-button"> 
										<div class="button-text">Подробнее</div>
										<img src="icons/arrow-right-white.png" alt="">
									</button>
									</a>
							</div>
						</div>
					</figcaption>
					<a href="#"></a>
				</figure>
			</div>
		
		</div>
			
			<div>
				<div class="line-4">
				</div>
				<div class="vline-third">
					
				</div>
			</div>
			<a href="#">
				<div id="all-services-rectangle">
					<img src="icons/arrow-right.png" alt="">
					<div id="all-services-text">
						Все услуги 
					</div>
				</div>
			</a>
	</div>
	<div class="section _white" id="section3"> <!--Projects-->
		<div id="content">
			<div class="main-energo-section-logo-2"> 
				<img class="main-white-logo" src="img/main_white-logo.png">
			</div>
		<div class="projects">
			<div class="projects-item">
				<div class="project">
				<img src="img/proj-1.jpg" alt="">
				<a href="#" class="project-content">
				<div class="project-info">
					<h3 class="project-title">Жилой комплекс <br> &laquo;Золотая панда&raquo;</h3>
					<p class="project-text">Вентиляция, отопление и пожаротушение</p>
					</div>
					<div class="project-btn">
						<span class="project-btn-img"></span>
						<span class="project-btn-arrow"></span>
					</div>
				</a>
			
			</div>
			<div class="project">
				<img src="img/proj-2.jpg" alt="">
			</div>
			<div class="project">
				<img src="img/proj-3.jpg" alt="">
			</div>
			</div>
			<div class="projects-item">
			<div class="project">
				<img src="img/proj-4.jpg" alt="">
			</div>
			<div class="project">
				<img src="img/proj-5.jpg" alt="">
			</div>
			<div class="project">
				<img src="img/proj-6.jpg" alt="">
			</div>
		</div>
		</div>
		
					<a href="#">
						<div id="all-projects-rectangle">
							<div id="all-projects-text"> Все проекты 
							<span class="projects-arrow"></span>	
							</div>
						</div>
					</a>	
		</div>
			
	

	</div>
	<div class="section" id="section4"> <!--Experience-->
		<div class="main-energo-section-logo"> 
			<img class="main-black-logo" src="img/main_black-logo.png">
		</div>

		<div id="image-block-exp" class="slider slider-x">
			<div>
			<img src="img/img-energo.jpg" alt="">
			</div>
			<div>
				<img src="img/img-energo.jpg" alt="">
				</div>
				<div>
					<img src="img/img-energo.jpg" alt="">
					</div>
					<div>
						<img src="img/img-energo.jpg" alt="">
						</div>
						<div>
							<img src="img/img-energo.jpg" alt="">
							</div>
							<div>
								<img src="img/img-energo.jpg" alt="">
								</div>
								<div>
									<img src="img/img-energo.jpg" alt="">
									</div>
									<div>
										<img src="img/img-energo.jpg" alt="">
										</div>
										<div>
											<img src="img/img-energo.jpg" alt="">
											</div>
											<div>
												<img src="img/img-energo.jpg" alt="">
												</div>
												<div>
													<img src="img/img-energo.jpg" alt="">
													</div>
													<div>
														<img src="img/img-energo.jpg" alt="">
														</div>
		</div>
		<div class="exp-text">
			<div id="exp-text-head">
				<h1>Наш опыт<br>сотрудничества</h1>
			</div>
			<div id="exp-text-descr">
				<h5>Мы создаем проекты для лидирующих компаний по Дальнему Востоку
					во всех областях деятельности, включая государственные учреждения,
					банки, торговые центры и отдельные специализированные предприятия.</h5>
			</div>
		</div>
  <section class="sliders">
			<div id="exp-partners" class="slider slider-nav">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
		</div>
		<div class="exp-project slider slider-for">
			<div>
			<a href="#">
			<div class="exp-project-img">
				<img src="img/cber-sr.jpg" alt="">
			</div>
			<div class="exp-project-text">
				<a href="#"><div class="exp-txt1">ПАО “СБЕРБАНК”</div></a>
				<a href="#"><div class="exp-txt2">Спортивный детский лагерь</div></a>
				<span></span>
				<a href="#"><div class="exp-txt3">Камчатский край, г. Петропавловск-Камчатский</div></a>
			</div>
		</a>
			
			</div>
			<div>
				<a href="#">
		<div class="exp-project-img">
			<img src="img/cber-sr.jpg" alt="">
		</div>
	</a>
		<div class="exp-project-text">
			<a href="#"><div class="exp-txt1">ПАО “СБЕРБАНК”</div></a>
			<a href="#"><div class="exp-txt2">Спортивный детский лагерь</div></a>
			<span></span>
			<a href="#"><div class="exp-txt3">Камчатский край, г. Петропавловск-Камчатский</div></a>
		</div>
		</div>
		<div>
			<a href="#">
	<div class="exp-project-img">
		<img src="img/cber-sr.jpg" alt="">
	</div>
</a>
	<div class="exp-project-text">
		<a href="#"><div class="exp-txt1">ПАО “СБЕРБАНК”</div></a>
		<a href="#"><div class="exp-txt2">Спортивный детский лагерь</div></a>
		<span></span>
		<a href="#"><div class="exp-txt3">Камчатский край, г. Петропавловск-Камчатский</div></a>
	</div>
	</div>
	<div>
		<a href="#">
<div class="exp-project-img">
	<img src="img/cber-sr.jpg" alt="">
</div>
</a>
<div class="exp-project-text">
	<a href="#"><div class="exp-txt1">ПАО “СБЕРБАНК”</div></a>
	<a href="#"><div class="exp-txt2">Спортивный детский лагерь</div></a>
	<span></span>
	<a href="#"><div class="exp-txt3">Камчатский край, г. Петропавловск-Камчатский</div></a>
</div>
</div>
<div>
	<a href="#">
<div class="exp-project-img">
<img src="img/cber-sr.jpg" alt="">
</div>
</a>
<div class="exp-project-text">
<a href="#"><div class="exp-txt1">ПАО “СБЕРБАНК”</div></a>
<a href="#"><div class="exp-txt2">Спортивный детский лагерь</div></a>
<span></span>
<a href="#"><div class="exp-txt3">Камчатский край, г. Петропавловск-Камчатский</div></a>
</div>
</div>
<div>
	<a href="#">
<div class="exp-project-img">
<img src="img/cber-sr.jpg" alt="">
</div>
</a>
<div class="exp-project-text">
<a href="#"><div class="exp-txt1">ПАО “СБЕРБАНК”</div></a>
<a href="#"><div class="exp-txt2">Спортивный детский лагерь</div></a>
<span></span>
<a href="#"><div class="exp-txt3">Камчатский край, г. Петропавловск-Камчатский</div></a>
</div>
</div>
<div>
	<a href="#">
<div class="exp-project-img">
<img src="img/cber-sr.jpg" alt="">
</div>
</a>
<div class="exp-project-text">
<a href="#"><div class="exp-txt1">ПАО “СБЕРБАНК”</div></a>
<a href="#"><div class="exp-txt2">Спортивный детский лагерь</div></a>
<span></span>
<a href="#"><div class="exp-txt3">Камчатский край, г. Петропавловск-Камчатский</div></a>
</div>
</div>
<div>
	<a href="#">
<div class="exp-project-img">
<img src="img/cber-sr.jpg" alt="">
</div>
</a>
<div class="exp-project-text">
<a href="#"><div class="exp-txt1">ПАО “СБЕРБАНК”</div></a>
<a href="#"><div class="exp-txt2">Спортивный детский лагерь</div></a>
<span></span>
<a href="#"><div class="exp-txt3">Камчатский край, г. Петропавловск-Камчатский</div></a>
</div>
</div>
<div>
	<a href="#">
<div class="exp-project-img">
<img src="img/cber-sr.jpg" alt="">
</div>
</a>
<div class="exp-project-text">
<a href="#"><div class="exp-txt1">ПАО “СБЕРБАНК”</div></a>
<a href="#"><div class="exp-txt2">Спортивный детский лагерь</div></a>
<span></span>
<a href="#"><div class="exp-txt3">Камчатский край, г. Петропавловск-Камчатский</div></a>
</div>
</div>
<div>
	<a href="#">
<div class="exp-project-img">
<img src="img/cber-sr.jpg" alt="">
</div>
</a>
<div class="exp-project-text">
<a href="#"><div class="exp-txt1">ПАО “СБЕРБАНК”</div></a>
<a href="#"><div class="exp-txt2">Спортивный детский лагерь</div></a>
<span></span>
<a href="#"><div class="exp-txt3">Камчатский край, г. Петропавловск-Камчатский</div></a>
</div>
</div>
<div>
	<a href="#">
<div class="exp-project-img">
<img src="img/cber-sr.jpg" alt="">
</div>
</a>
<div class="exp-project-text">
<a href="#"><div class="exp-txt1">ПАО “СБЕРБАНК”</div></a>
<a href="#"><div class="exp-txt2">Спортивный детский лагерь</div></a>
<span></span>
<a href="#"><div class="exp-txt3">Камчатский край, г. Петропавловск-Камчатский</div></a>
</div>
</div>
<div>
	<a href="#">
<div class="exp-project-img">
<img src="img/cber-sr.jpg" alt="">
</div>
</a>
<div class="exp-project-text">
<a href="#"><div class="exp-txt1">ПАО “СБЕРБАНК”</div></a>
<a href="#"><div class="exp-txt2">Спортивный детский лагерь</div></a>
<span></span>
<a href="#"><div class="exp-txt3">Камчатский край, г. Петропавловск-Камчатский</div></a>
</div>
</div>
		
		</div>
	</section>
	

	</div>
	<div class="section _white" id="section5"> <!--Energo-->
		<div id="big-logo-background">
			<img src="img/big-pik-logo.png" alt="">
		</div>
		<div class="main-energo-section-logo-2"> 
			<img class="main-white-logo" src="img/main_white-logo.png">
		</div>
		<img id="far-east-map" src="img/far-east-map.png" alt="">
		<div class="third-block-title">
			<div id="third-text-line-1">
				<h1>Энергоэффективность<br>
					как общая миссия</h1>
			</div>
			<div id="third-text-line-2">
				<h5>Наша общая миссия - превратить каждый кусочек Дальнего Востока <br>
					в энергоэффективную среду. Уменьшение потребления <br>
					электричества посредством современных инженерных систем - наш <br>
					общий вклад в сохранение природной целостности. В этой системе <br>
					важен каждый город, каждая улица, каждый дом. </h5>
			</div>
		</div>
		<div>
			<div class="line-4">
			</div>
			</div>
		<div id="one-more-facts">
			<div id="facts-one">
				<div id="lamp-icon">
					<img src="icons/lamp-icon.png" alt="">
				</div>
				<div id="energy-left-column">
				<span class="energy-title">на 72,6%</span>
				<span class="energy-description">снижаются затраты на<br>
					 электроэнергию при <br>
					 установке оборудования</span>
				</div>
			</div>
			<div id="facts-two">
				<div id="thunder-icon">
					<img src="icons/thunder-icon.png" alt="">
				</div>
				<div id="energy-center-column">
				<span class="energy-title">1 964 320</span>
				<span class="energy-description">Киловатт потребляют<br>
					предприятия Хабаровска<br> ежемесячно</span>
				</div>
			</div>
			<div id="facts-three">
				<div id="coins-icon">
				<img src="icons/coins-icon.png" alt="">
				</div>
				<div id="energy-right-column">
				<span class="energy-title">91.2 млн, ₽</span>
				<span class="energy-description">выплачивается<br>
					 предприятиями Хабаровска<br>
					 за электроэнергию ежегодно</span>
				</div>
			</div>
		</div>
	</div>
	<div class="section" id="section6"> <!--Contacts-->
		<div class="main-energo-section-logo"> 
			<img class="main-black-logo" src="img/main_black-logo.png">
		</div>
		<div class="line-4"></div>
		<div class="v-line"></div>
		<div class="left-side">
			<div class="contacts-block-title">
				<div id="contacts-text-line-1">
					<h1>Желаете обсудить<br>
						проект?</h1>
				</div>
			</div>

			<div id="contact-form" class="contact-form">
			
		
				
		
				<form class="form" @submit="onSubmit">
					<input required name="name" v-model='contact.name' placeholder="Ваше имя" type="text" autocomplete="off">
					<input required name="email" v-model="contact.email" placeholder="E-mail" type="email" autocomplete="off">
					<textarea name="message" v-model="contact.message" rows="4" placeholder="Ваше сообщение"></textarea>
				   <button class="button">Оставить заявку</button>
				</form>
			</div>
				
		</div>
		<div class="right-side">
			<div id="black-map">
				<img src="img/contacts-map.jpg" alt="">
				<div id="white-rect">
					<div id="contacts-after-map">
						<span id="contacts-phone">+7 4212 12-34-56</span>
						<span id="main-office">Главный офис</span>
					</div>
				</div>
				<div id="grey-rect">
					<div id="">
						<div id="some-info">
							<img src="icons/map-pin.png" alt="">
						<span id="contacts-address">г. Хабаровск, ул. Тихоокеанская, 47 в3</span>
						</div>
						<div id="some-info-2">
							<img src="icons/email.png" alt="">
						<span id="contacts-address">info@pik-dv.ru</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="contacts-all">
			<div id="contacts-panda">Дизайн и разработка — Gold Panda</div>
			<div id="contacts-rights">© Все права защищены. ООО “СК ПиК” 2019-2020</div>
		</div>
	</div>

</div>
</div>


<script type="text/javascript" src="jquery-3.5.1.slim.min.js"></script>
<script type="text/javascript" src="javascript.fullPage.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
<script type="text/javascript" src="slick.min.js"></script>
<script src="app.js"></script>
</body>

</html>
