.energo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  &__bg  {
    position: absolute;
    top: 0;
    left:31%;
    margin: 0 auto;
    z-index: 3;
    img {
      height: 100vh;
    }
    @media (max-width: 1024px) {
      left:25%;
     }
     @media (max-width: 769px) {
      left: 13%;
     }
    @media (max-width: 640px) {
      display: none;
     }
  }
  &__content {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    margin: 0 170px;
    @media (max-width: 1260px) {
      margin: 0 124px 0 67px;
     }
     @media (max-width: 769px) {
      height: auto;
      margin: 0 52px 0 18px;
     }
     @media (max-width: 474px) {
      margin: 0 19px 0 17px;
    }
  }
  &__left-content {
    display: flex;
    align-items: center;
    width: 43vw;
    position: relative;
    padding-top: 165px;
    @media (max-width: 1260px) {
     max-width: 450px;
     }
     @media (max-width: 1024px) {
      width: 45vw;
      max-width: 55%;
     }
     @media (max-width: 769px) {
      align-items: start;
      width: 65vw; 
      padding-top: 0px;
      max-height: 400px;
      h1 {
      word-wrap: break-word;
     }
     }
     @media (max-width: 640px) {
      width: 98vw;
      max-width: 100%;
     }
     .text-block__text {
      color: #969696;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0px;
      right: 0;
      width: 1px;
      height: 100vh;
      background-color:rgba(196, 196, 196, 0.3);;
      z-index: 20;
      @media (max-width: 1260px) {
        display: none;
       }
    }
  }
  &__right-content {
    text-align: center;
    max-height: 500px;
    padding-top: 100px;
    width: 50%;
    @media (max-width: 1600px) {
    img {
      max-width: 100%;
      max-height: auto;
      object-fit: contain;
      min-height: 550px;
      min-width: 375px;
    }
    }
    @media (min-width: 1024px) and (max-height: 769px) {
      padding-top: 50px;
      img {
        padding-top: 80px;
        max-height: 95%;
      }
   }
    @media (max-width: 1024px) {
      margin-top: 30px;
      width: 75%;
     img {
       padding-top: 30px;
       max-width: 100%;
       max-height: 100%;
     }
     }   
      @media (max-width: 769px) {
      padding-top: 0px;
      margin-top: 0px;
      width: 75%;
      max-height: 430px;
     img {
      padding-top: 0px; 
       width: 100%;
       max-width: auto;
       min-width: 250px;
       min-height: 400px;
     }
     }
     @media (max-width: 640px) {
      width: 95vw;
      margin: 0 auto;
      img {
         max-width: 290px;
         min-height: 366px;
       }
      }
  }
  &__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    @media (max-width: 640px) {
      flex-direction: column;
     }
     .text-block {
      @media (max-width: 640px) {
        margin-bottom: 0;
        }
     }
  }

.footer {
  @media (max-width: 769px) {
    margin: 0 6px;
    height: auto;
   }
  &:before {
    @media (max-width: 769px) {
      display: none;
     }
  }
  &__info {
  background: rgba(255, 255, 255, 0);
  width: 58vw;
  justify-content: space-between;
  padding: 0;
  align-items: center;
  @media (max-width: 1024px) {
    
   }
   @media (max-width: 769px) {
     height: auto;
     .footer__text, .footer__title {
        text-align: left;
     }
     .footer__title {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 16px;
   }
   }
   @media (max-width: 640px) {
   margin-top: 80px;
   flex-direction: column;
   align-items: flex-start;
   }
   @media (max-width: 474px) {
    margin-top: 0px;
    padding: 0;
    }
}
&__block {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  max-width: 250px;
  padding: 0;
  @media (max-width: 1260px) {
    margin-right: 10px;
   }
  @media (max-width: 1024px) {
    margin-right: 5px; 
    &:after {
      display: none;
    }
   }
   @media (max-width: 769px) {
     flex-direction: column;
     margin: 20px 10px;
   }
   @media (max-width: 474px) {
    flex-direction: row;
    width: 98vw;
    max-width: 100%;
    }
  span {
	display: block;
  margin: 0 25px 0 0;
  background-size: contain;
  @media (max-width: 1260px) {
    margin: 0 15px 0 0;
    min-width: 35px;
   }
   @media (max-width: 769px) {
    margin: 0px 15px 6px 0;
   }
  }
  
}
&__bulb {
  background: url("../../img/icons/light.svg") no-repeat 50% 50%;
  width: 82px;
  height: 82px;
  @media (max-width: 1260px) {
    background-size: contain;
    width: 35px;
    height: 45px;
   }
}
&__light {
  background: url("../../img/icons/vector.svg") no-repeat 50% 50%;
  width: 44px;
  height: 82px;
  @media (max-width: 1260px) {
    width: 28px;
    height: 40px;
   }
}
&__money {
  background: url("../../img/icons/money.svg") no-repeat 50% 50%;
  width: 80px;
  height: 77px;
  @media (max-width: 1260px) {
    background-size: cover;
    width: 45px;
    height: 38px;
   }
}
&__title {
  color: #494848;
}
&__text{
max-width: 250px;
width: 100%;
@media (max-width: 640px) {
 max-width:90%;
  }
}
}

}