.projects {
  display: flex;
  flex-direction: column;
  &__content {
    display: flex;
    flex: 1 0 auto;
    margin: 0 170px;
    padding-top: 17.5vh;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 170px;
      width: 1px;
      height: 100%;
      background-color: rgba(196, 196, 196, 0.3);
      z-index: 10;
      @media (max-width: 1260px) {
        left: 67px;
       }
       @media (max-width:769px) {
        display: none;
    }
      }
      @media (max-width: 1260px) {
        margin: 0 124px 0 67px;
       }
       @media (max-width: 860px) {
       flex-direction: column;
       max-height: 100%;
       }
       @media (max-width: 769px) {
        height: auto;
        margin: 0 52px 0 18px;
        padding-top: 0;
       }
       @media (max-width: 474px) {
        margin: 0 19px 0 17px;
      }
  }
  .bg {
    @media (max-width: 769px) {
     height: 33%;
     }
  }
  &__column {
    display: flex;
    flex-direction: column;  
    @media (max-width: 860px) {
      flex-direction: row;  
      margin-bottom: 10px; 
    }
    @media (max-width: 769px) {
      flex-direction: column; 
      align-items: center;
      &:last-child {
        display: none;
      }
      &:nth-child(2) {
        .projects__item:last-child {
          display: none;
        }
      }
    }
  }
  &__item {
    flex: 1 1 auto;
    max-width: 526.5px;
    width: 100%;
    max-height: 305px;
    height: 50%;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
      &:hover {
      .projects__info {
         transform: translateY(0); 
      }
    } 
    @media (max-width: 860px) {
      height: 213px;
      &:first-child {
      margin-right: 10px;
      } 
    }
    @media (max-width: 769px) {
      width: 100%;
      max-width: 528px;
      max-height: 100%;
      margin-bottom: 30px;
      height: auto;
      margin-right: 0;
      img {
        max-height: 200px;
      }
    }
    @media (max-width: 474px) {
      margin-bottom: 50px;
      img {
        max-height: 155px;
      }
    }
  }
  &__info {
	position: absolute;
	bottom: 0px;
  right: 0;
  width: 80%;
  box-sizing: border-box;
  max-height: 180px;
	background-color: #fff;
	transition: ease .5s;
  display: flex;
  justify-content: space-between;
  transform: translateY(100%);
  @media (max-width: 1600px) {
    width: 100%;
  }
  @media (max-height: 700px) {
    max-height: 95%;
  }
  @media (max-width: 1260px) {
    flex-direction: column;
   }
   @media (max-width: 860px) {
    transform: translateY(0);
    max-height: 130px;
  }
  @media (max-width: 769px) {
  position: relative;
  max-height: 170px;
  bottom: 3px;
  }
  }
  &__info-block {
    max-width: 240px;
    margin: 32px 0 0 49px;
    @media (max-width: 1260px) {
      margin: 15px 23px 0 19px;
      max-width: 100%;
     }
  }
  &__title {
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
  color: #000000;
  margin: 0;
  @media (max-width: 1260px) {
    font-size: 16px;
    line-height: 19px;
   }
}
&__text {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
  color: #C4C4C4;
  @media (max-width: 1260px) {
    font-size: 12px;
line-height: 14px;
   }
}
&__btn {
	width: 85px;
  height: 180px;
  box-sizing: border-box;
	background: #252525;
	padding: 25px 0 32px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  align-items: center;
  @media (max-width: 1260px) {
    width: 100%;
    height: 66px;
    flex-direction: row;
    padding: 10px 19px 10px 23px;
   }
   @media (max-width: 860px) {
    max-height: 45px;
    padding: 2px 19px 5px 23px;
  }
  @media (max-width: 769px) {
    max-height: 56px;
    padding: 10px 19px 10px 23px;
  }
}
&__btn-img {
	background: url("../../img/icons/new-project.svg") no-repeat 50% 50%;
  display: inline-block;
  background-size: cover;
	width: 41px;
  height: 55px;
  @media (max-width: 860px) {
    width: 26px;
    height: 35px;
  }
}
&__btn-arrow {
	background: url("../../img/icons/project-arrow.svg") no-repeat 0 0;
	display: inline-block;
	width: 16px;
  height: 16px;
  &:hover {
    opacity: 0.8;
  }
}
.text-block {
  display: none;
  @media (max-width:769px) {
   display: block;
   margin: 33px 0 50px 0;
   .text-block__text {
    color: #737373;
  }
}
} 
}