aside.aside
  .aside__burger
   a(href="#menu-popup" class="menu__popap")
    img(src="../img/icons/burger.svg")
  .aside__numbers
    span(class="aside__page-number _first") 01
    span(class="aside__page-number _last") 02
  .aside__arrow
    a(href="#")
      img(src="../img/icons/arrows-grey.svg")

  .menu(id="menu-popup" class="white-popup mfp-hide")
    .menu__logo.logo
      img(src="../img/logo-black.png")
    button(title="Close (Esc)" type="button" class="mfp-close") 
    .menu__content
      .menu__left-content
        .menu__left-list
          ul.menu__pages
            li 
             a(href="#") Главная
            li 
             a(href="#") О компании
            li 
             a(href="#") Контакты
          ul.menu__services
            li 
             a(href="#") Вентиляция
            li 
             a(href="#") Кондиционирование
        .menu__right-list
          ul.menu__pages
            li 
             a(href="#") Проекты
            li 
             a(href="#") Блог
            li 
             a(href="#") Услуги
          ul.menu__services
            li 
             a(href="#") Отопление
            li 
             a(href="#") Внутреннее водоснабжение
      .menu__right-content
        .menu__tel
          p +7 4212 12-34-56
          span info@pik-dv.ru
        a(href="#") Заказать звонок
        .menu__address
          p Хабаровск
          span ул. Тихоокеанская, 47б, оф.1
    .menu__footer
      p © Все права защищены. ООО “СК ПиК” 2019-2020