.energo.section._white.fp-auto-height-responsive
  .energo__bg
    img(src="../img/energo-bg.png", alt="")
  .energo__logo.logo
      img(src="../img/logo-black.png" alt="Логотип ПИК")
  .energo__content
    .energo__container
      .energo__left-content
        .energo__text-block.text-block
          h1.text-block__title Энергоэффек&shy;тивность как общая миссия
          p.text-block__text Наша общая миссия - превратить каждый кусочек Дальнего Востока в энергоэффективную среду. Уменьшение потребления электричества посредством современных инженерных систем - наш общий вклад в сохранение природной целостности. В этой системе важен каждый город, каждая улица, каждый дом. 
      .energo__right-content
        img(src="../img/energo-map.png", alt='Энергоэффективность карта')
  .energo__footer.footer
    .footer__info
      .footer__block
        span.footer__bulb
        .footer__text-block
          .footer__title на 72,6%
          .footer__text снижаются затраты на электроэнергию при установке оборудования
      .footer__block
        span.footer__light
        .footer__text-block
          .footer__title 1 964 320
          .footer__text Киловатт потребляют предприятия Хабаровска ежемесячно
      .footer__block
        span.footer__money
        .footer__text-block
          .footer__title 91.2 млн.₽
          .footer__text выплачивается предприятиями Хабаровска за электроэнергию ежегодно