.main-bottom__connection-block.connection-block
  .connection-block__text
    h1 Написать нам
    p Заполните форму справа
    p или отправьте письмо на shop@reproduct.io
    .connection-block__footer
       p Репродукцио, 2019
       a(class="connection-block__popap" href="#rules") Правила обработки персональных данных
  .connection-block__forms
    form(class="connection-block__form" metod="post")
      input(class="connection-block__email" id="email" type="text"  name="e-mail" placeholder="Эл.почта")
      span.validate__error
      textarea(class="connection-block__textarea" name="text" placeholder="Сообщение")
      input(class="connection-block__btn" type="submit" value="Отправить сообщение")
  .connection-block__success 
    h2 Отправлено
    p Мы ответим вам на почту в течение нескольких рабочих дней
    
div(id="rules" class="mfp-hide white-popup-block")
  h2 Правила обработки персональных данных
  p Предоставляя свои персональные данные Пользователь даёт согласие на&nbsp;обработку, хранение и&nbsp;использование своих персональных данных на&nbsp;основании ФЗ&nbsp;&#8470;&nbsp;152-ФЗ &laquo;О&nbsp;персональных данных&raquo; от&nbsp;<br>27.07.2006 г. в&nbsp;следующих целях:
  ul 
    li Осуществление клиентской поддержки;
    li Получения Пользователем информации о&nbsp;маркетинговых событиях;
    li Проведения аудита и&nbsp;внутренних исследований с&nbsp;целью <br> повышения качества предоставляемых услуг.
  p Под персональными данными подразумевается любая информация личного характера, позволяющая установить личность Пользователя, такая как:
  span Фамилия, имя и отчество
  p Персональные данные Пользователей хранятся исключительно <br> на&nbsp;электронных носителях и&nbsp;обрабатываются с&nbsp;использованием автоматизированных систем, за&nbsp;исключением случаев, когда неавтоматизированная обработка персональных данных необходима в&nbsp;связи с&nbsp;исполнением требований законодательства.
  p Компания обязуется не&nbsp;передавать полученные персональные данные третьим лицам, за&nbsp;исключением следующих случаев:
  p По&nbsp;запросам уполномоченных органов государственной власти РФ&nbsp;только по&nbsp;основаниям и&nbsp;в&nbsp;порядке, установленным законодательством РФ
  p Компания оставляет за&nbsp;собой право вносить изменения в&nbsp;одностороннем порядке в&nbsp;настоящие правила, при условии, что изменения не&nbsp;противоречат действующему законодательству РФ. Изменения условий настоящих правил вступают в&nbsp;силу после их&nbsp;публикации на&nbsp;Сайте.