header.header._menu-white
  nav.header__nav
    ul.header__menu
      li.header__item
        a.header__link(href="#") О компании
      li.header__item
        a.header__link(href="#") Проекты
      li.header__item
        a.header__link(href="#") Услуги
      li.header__item
        a.header__link(href="#") Блог
      li.header__item
        a.header__link(href="#") Контакты
  .header__contacts
    span.header__tel +7(4212) 25-25-12
    span.header__order
      a(href="#") Заказать звонок