main.main.section.fp-auto-height-responsive#1
  .main__bg.bg
    img(src="../img/main-bg.jpg", alt="")
  .main__logo
      img(src="../img/main-logo.png" alt="Логотип ПИК")
  .main__content
    .main__text-block.text-block
      h1.text-block__title Комплексная разработка <br> инженерных систем
      p.text-block__text ООО «СК ПИК» — комплексная сервисная компания, предоставляющая полный спектр услуг на всех этапах создания инженерных систем в зданиях и сооружениях.
    .main__partner-block.partner
      a.partner__link(href="#")
        span
      .partner__text-block
        h2.partner__title ООО «Новый Проект»
        p.partner__text Генеральный партнер
      .partner__image
        img.partner__bg(src="../img/main-project.jpg", alt="Новый Проект", srcset="")
        span.partner__logo
  .main__footer.footer
    .footer__contacts
      a(href="#")
        span.footer__mail
      a(href="#")
        span.footer__fb
      a(href="#")
        span.footer__inst
    .footer__wrapper
      .footer__info
        .footer__block
          .footer__title 1,5 млрд ₽
          .footer__text сэкономили в 2019 году
        .footer__block
          .footer__title с 2018 года
          .footer__text лидеры в отрасли
        .footer__block
          .footer__title 726
          .footer__text выполненных проектов