.unity.section._white.fp-auto-height-responsive
    .unity__bg
      img(src="../img/about-bg.jpg", alt="")
    .unity__content
      .unity__logo.logo
        img(src="../img/logo-black.png" alt="Логотип ПИК")
      .unity__left-block
        .unity__text-block.text-block
          h1.text-block__title Объединяем усилия во благо заказчиков
          p.text-block__text В 2019 году «СК ПИК» объединилась с проектной компанией «Новый Проект», став единым подрядчиком выполняющим   полный цикл услуг для строительства и реконструкции зданий.
      .unity__right-block
        .unity__top
          .unity__info.info-block
            .info-block__image 
              img(src="../img/icons/city.svg", alt="")
            .info-block__text-block
              .info-block__title Полный цикл услуг проектирования
              .info-block__text От обследования территории до полноценной сдачи объекта с авторским надзором.    Мы делаем качественно от и до.
          .unity__info.info-block
            .info-block__image 
              img(src="../img/icons/document.svg", alt="")
            .info-block__text-block
              .info-block__title Официальный дилер оборудования
              .info-block__text Пакет документов для получения положительного заключения государственной   экспертизы
        .unity__partner.partner
          .partner__text-block
            h2.partner__title ООО «Новый Проект»
            p.partner__text Генеральный партнер
            span.partner__logo
            a.partner__link(href="#")
              span
          .partner__image
            img(src="../img/about-project.jpg", alt="Новый Проект")
    .unity__footer.footer
      .footer__wrapper
        .footer__info
          .footer__block
            .footer__title 1,5 млрд ₽
            .footer__text сэкономили в 2019 году
          .footer__block
            .footer__title с 2018 года
            .footer__text лидеры в отрасли
          .footer__block
            .footer__title 726
            .footer__text выполненных проектов    