doctype html
html(lang="ru")
  include blocks/head.pug
  body
    .wrapper
      .fixed-block
        include blocks/header.pug
        include blocks/aside.pug
      .fullpage
        include blocks/main.pug
        .line
        include blocks/unity.pug
        .line
        include blocks/services.pug
        .line
        include blocks/projects.pug
        .line
        include blocks/experience.pug
        .line
        include blocks/energo.pug
        .line
        include blocks/contacts.pug
    include blocks/scripts.pug