@import url("reprod.css");
@import url("popular.css");
@import url("form.css");

@font-face {
  font-display: swap;
  font-family: "Roboto-Reg";
  src: local("Roboto-Regular"),
    url("../font/Roboto-Regular.woff2") format("woff2"),
    url("../font/Roboto-Regular.woff") format("woff");
}

:root {
  --gray: #a3a3a3fa;
  --translucent-gray: #85858585;
  --darken-gray: #727272;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto-Reg";
}

._container {
  max-width: 1000px;
  margin: 0 auto;
}

button,
a {
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
}

input,
textarea {
  border: none;
  outline: none;
}
